@charset "UTF-8";

/* ==================================================================
CSS information
style info :
================================================================== */

body {
  min-width: 960px;
  overflow-x: hidden;
}

/* --------------------------------------------------------
#wrapper
-------------------------------------------------------- */
#wrapper {
  background: linear-gradient(to bottom, #95d7f1, #fff);
  background-size: cover;
}

.red_line{
  height: 7vw;
  background: url(../_img/index/red_line.jpg);
  background-size: contain;
  margin-top: -1%;
  max-height: 74px;
  min-height: 68px;
  position: relative;
  z-index: 1;
}


/* --------------------------------------------------------
#contents
-------------------------------------------------------- */
#contents {min-height: 560px;}

#box-upper { clear: both; width: 94%; max-width: 760px; margin: 0 auto; padding-right: 2%; box-sizing: content-box; }
#box-upper:after { content: ""; display: block; clear: both; margin-bottom: 2.7%; }
#box-lower { clear: both; }


/* --------------------------------------------------------
#mainvisual
-------------------------------------------------------- */
#mainvisual { margin-bottom: 3.125%;}
#mainvisual img { width: 100%; height: auto;}
#mainvisual .mainbanner a{ display: block;}

#ncommon-ghdr-header {
  width: 100%;
}
.container_100 {
  position: relative;
  margin: 0 auto;
}
.container_100 img {
  width: 100%;
  height: auto;
}
.main_ttl {
  width: 24% !important;
  z-index: 2;
  position: absolute;
  right: 8%;
  margin-top: 13%;
}
#switch-logo {
  width: 80px;
  position: absolute;
  right: 0px;
  z-index: 10;
  margin-top: 5%;
}
.movie_bg{
  position: absolute;
}
.movie_bg .movie_bg_opacity{
  opacity: 0.25;
  position: relative;
  z-index: 1;
  margin-bottom: -51%;
  padding-top: 0%;
  width: 100%;
}
.story_ttl{
  position: absolute;
  z-index: 1;
  width: 34%;
  margin-top: -42%;
  right: 3%;
}

.main_ttl{
  z-index: 5;
  position: absolute;
  right: 3%;
  margin-top: 3%;
}

.video{
  min-width: 960px;
  overflow: hidden;
}
#player{
  min-width: 960px;
  height: 58vw;
  min-height: 550px;
  pointer-events: none;
  margin-top: -5%;
  margin-bottom: -4%;
  background-size: cover;
}

#slider_bg{
  top: 0;
  z-index: -1;
  margin-top: -55.2%;
}

[data-movie] iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;

}

.contents_index img{
  margin: 0 auto;
  left: 50%;
  width: 1800px;
  position: relative;
  margin-left: -900px;
  height: auto;
}
.contents_index {
  min-width: 960px;
  overflow: hidden;
  position: relative;
  margin-top: -1%;
}

/* --------------------------------------------------------
#container
-------------------------------------------------------- */
.container_outer{
  background: url(../_img/index/cloud.png) top center no-repeat;
  background-position: 50% 0%;
}
#container h1.logo{
  width:30%;
  margin: 0 auto;
  margin-top: -14%;
  position: relative;
  z-index: 3;
}
#container h1.logo img{
  width:100%;
}
#container .twitter{
  width: 24%;
  margin-top: -12%;
  margin-left: 67%;
  position: relative;
  z-index: 1;
}
#container .twitter img{
  width: 100%;
}
#container .balloon{
  width: 8%;
  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: -12%;
}
#container .balloon img{
  width:100%
}

/* --------------------------------------------------------
#information
-------------------------------------------------------- */
#information{
  width: 70%;
  background: rgba(255,255,255,0.5);
  border-radius: 8px;
  padding: 20px 40px;
  margin: 0 auto;
  position: relative;
  display: flex;
  overflow: hidden;
}
#information .information_logo{
  display:inline-block;
  overflow: hidden;
  float: left;
  padding-top: 1.5%;
}
#information #info-box{
  margin-left: 50px;
  font-family: Meiryo, "Hiragino Kaku Gothic Pro", Osaka, "MS PGothic", sans-serif;
}
#information #info-box .date{
  margin-bottom: 5px;
  color: #ea4762;
  font-size: 16px;
}
#information #info-box .event{
  margin-left: 10px;
  color: #fff;
  background: #8a4d41;
  padding: 0px 4px;
  border-radius: 4px;
  font-size: 12px;
  top: -2px;
  position: relative;
}
#information #info-box .title{
  line-height: 1.7em;
  display: block;
  margin-top: 8px;
}
#information #info-box .title a{
  text-decoration: none;
}
#information #info-box li{
  margin-top: 10px;
  padding-bottom: 20px;
}

/* --------------------------------------------------------
.main_contents
-------------------------------------------------------- */
.main_visual #slide_background{
  position: relative;
  z-index: 3;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: -2px;
  min-height: 384px;
  height: 36vw;
}
.main_visual #slide_background:before {
  animation: bgscroll 220s linear infinite;
  background: url(../_img/index/main_image.jpg) 0 0;
  background-size: 50% auto;
  content: '';
  display: block;
  height: 51vw;
  left: 0;
  position: absolute;
  top: 0;
  width: 1200%;
  overflow-y: hidden;
  min-height: 380px;
  animation-delay:2s;
}
@keyframes bgscroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

.main_contents{
  background: url(../_img/index/bg_grass.png) no-repeat;
  background-position: 0 208px;
  background-size: cover;
  height: 211vw;
  max-height: 2300px;
  min-height: 2000px;
  overflow: hidden;
  padding-top: 250px;
  margin-top: -208px;
}
.main_contents .main_contents_inner{
  min-width: 960px;
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}
.main_contents .main_contents_inner .tree{
  position: absolute;
  width: 14%;
}
.main_contents .main_contents_inner .tree img{
  width: 100%;
}
.main_contents .main_contents_inner .apple img{
  width: 110%;
}

.main_contents .main_contents_inner .tree01{
  right: -2%;
  top: -7%;
}
.main_contents .main_contents_inner .tree02{
  top: 40%;
  left: -7%;
}
.main_contents .main_contents_inner .tree03{
  top: 57%;
  right: -4%;
}
.main_contents .main_contents_inner .tree04{
  top: -2%;
  left: -5%;
}
.main_contents .main_contents_inner .tree05{
  top: 38%;
  right: -4%;
}
.main_contents .main_contents_inner .tree06{
  top: 69%;
  left: -6%;
}
.main_contents .main_contents_inner .tree07{
  top: 89%;
  right: 7%;
}
.main_contents .main_contents_inner .title{
  margin:0 auto;
  text-align: center;
  width: 70%;
}
.main_contents .main_contents_inner .title img{
  margin-top: -13%;
  width: 100%;
}
.main_contents .main_contents_inner .part01 .bg{
  width: 80%;
  margin-left: 10%;
}
.main_contents .main_contents_inner .part01 .bg img{
  width:100%;
}
.main_contents .main_contents_inner .part01 .character {
  width: 17%;
  margin-left: 17%;
  margin-top: -11%;
}
.main_contents .main_contents_inner .part01 .character img{
  width:100%;
}
.main_contents .main_contents_inner .part01 .title {
  width: 28%;
  margin-left: 31%;
  margin-top: -22%;
}
.main_contents .main_contents_inner .part01 .title img{
  width:100%;
}
.main_contents .main_contents_inner .part01 .pic {
  margin-left: 61%;
  margin-top: -15%;
  width: 29%;
}
.main_contents .main_contents_inner .part01 .pic img{
  width:100%;
}
.main_contents .main_contents_inner .part01 .btn{
  width: 28%;
  margin-left: 31%;
  margin-top: -11%;
}
.main_contents .main_contents_inner .part01 .btn img{
  width:100%;
}
.main_contents .main_contents_inner .part01 .bg{
  width: 90%;
  margin-left: 5%;
}
.main_contents .main_contents_inner .part01 .bg img{
  width:100%;
}
.main_contents .main_contents_inner .part01 .character {
  width: 17%;
  margin-left: 12%;
  margin-top: -11%;
}
.main_contents .main_contents_inner .part01 .character img{
  width:100%;
}
.main_contents .main_contents_inner .part01 .txt{
  position: relative;
  margin-left: 33.4%;
  margin-top: 1%;
  color: #8a4d41;
  font-weight: bold;
}
.main_contents .main_contents_inner .part01 .txt span{
  color: #fff;
  background: #e60012;
  padding: 3px 6px;
  border-radius: 4px;
}

.main_contents .main_contents_inner .part02{
  margin-top: 8%;
}
.main_contents .main_contents_inner .part02 .bg{
  width: 70%;
  margin-left: 25%;
}
.main_contents .main_contents_inner .part02 .bg img{
  width:100%;
}
.main_contents .main_contents_inner .part02 .title {
  width: 26%;
  margin-left: 57%;
  margin-top: -28%;
}
.main_contents .main_contents_inner .part02 .title img{
  width:100%;
}
.main_contents .main_contents_inner .part02 .pic {
  margin-left: 5%;
  margin-top: -22%;
  width: 50%;
}
.main_contents .main_contents_inner .part02 .pic img{
  width:100%;
}
.main_contents .main_contents_inner .part02 .btn{
  width: 28%;
  margin-left: 57%;
  margin-top: -8%;
}
.main_contents .main_contents_inner .part02 .btn img{
  width:100%;
}
.main_contents .main_contents_inner .part02 .txt{
  position: relative;
  margin-left: 54%;
  margin-top: 1%;
  color: #8a4d41;
  z-index: 1;
  font-weight: bold;
}
.main_contents .main_contents_inner .part02 .txt span{
  color: #fff;
  background: #e60012;
  padding: 3px 6px;
  border-radius: 4px;
}



.main_contents .main_contents_inner .part03{
  margin-top: 11%;
  z-index: 1;
  position: relative;
}
.main_contents .main_contents_inner .part03 .bg{
  width: 70%;
  margin-left: 4%;
}
.main_contents .main_contents_inner .part03 .bg img{
  width:100%;
}
.main_contents .main_contents_inner .part03 .title {
  width: 24%;
  margin-left: 16%;
  margin-top: -26%;
}
.main_contents .main_contents_inner .part03 .title img{
  width:100%;
}
.main_contents .main_contents_inner .part03 .pic {
  margin-left: 45%;
  margin-top: -18%;
  width: 50%;
}
.main_contents .main_contents_inner .part03 .pic img{
  width:100%;
}
.main_contents .main_contents_inner .part03 .btn{
  width: 28%;
  margin-left: 14.5%;
  margin-top: -8%;
}
.main_contents .main_contents_inner .part03 .btn img{
  width:100%;
}
.main_contents .main_contents_inner .part03 .txt{
  position: relative;
  margin-left: 16%;
  margin-top: 1%;
  color: #8a4d41;
  font-weight: bold;
}
.main_contents .main_contents_inner .part03 .txt span{
  color: #fff;
  background: #ce181e;
  padding: 3px 6px;
  border-radius: 4px;
}
.main_contents .main_contents_inner .part01,
.main_contents .main_contents_inner .part02,
.main_contents .main_contents_inner .part03{ font-family: 'Kosugi Maru', sans-serif,"ÉÅÉCÉäÉI", Meiryo, "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic" !important;}

.to_item{
  margin-top: 12%;
  width: 50%;
  margin-left: 25%;
}
.to_item img{
  width: 100%;
}
.to_item a:hover,
.to_item a:link,
.to_item a:visited{
  text-decoration: none !important;
}
#sns_block{
  float: right;
}
#sns_block ul li{
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 959px){
body {
  overflow: auto;
}
.contents_index img{
  overflow: hidden;
}
.video{
  width: 960px;
}
#player{
  width: 960px;
}
}
@media screen and (min-width: 1100px){
  .main_visual #slide_background:before{
    width: 1085%;
  }
}
@media screen and (min-width: 1200px){
  .main_visual #slide_background:before{
    width: 1080%;
  }
}
@media screen and (max-width: 1800px){
  .contents_index img{

  }
}

@media screen and (max-width: 960px){
  .main_contents{
    margin-top: -250px;
  }
  .main_contents .main_contents_inner .part01 .txt{
    font-size: 12px;
    margin-left: 31%;
  }
  .main_contents .main_contents_inner .part02 .txt{
  font-size: 12px;
  }
  .main_contents .main_contents_inner .part03 .txt{
    font-size: 12px;
    margin-left: 15%;
    }
}

.header_logo {
    text-align: center;
}

.oval_image {
  Border-radius:50%
}

.center_text {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contents_main {
    flex-basis: 320px;
    width: 320px;
    position: relative;
    height: auto;
}

.contents_left {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.contents_right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 40px;
}